In [2]:
a = list(map(int,input().split(' ')))
for i in range(0,len(a)):  
    for j in range(i+1,len(a)):  
        if a[j]<a[i]:  
            temp = a[j]  
            a[j]=a[i]  
            a[i]=temp  
print("Printing Sorted Element List...")  
for i in a:   
    print(i,end = " ")

16 15 8 5 6
Printing Sorted Element List...
5 6 8 15 16

# Supervised Learning
### Regression
- depends on continuous date
     - linear regression
         - linear regression with single variable
         - multiple variables
     - polinomial regression
         - polinomial with one feature
         - polinomial with multiple features
### Claasifiaction
- depends on categorical data(0 or 1)(True or False)(Pass or Fail)(Yes or No)
    - Linear classification
        - KNN algorithm
        - logestic regression
        - decision tree
        - randomforest
        - svm(support vector machine)
    - Non Linear Classification
        -

# Machine learning Steps
- 1. Get the data. or Load the data
- 2. Preprocessing the data(Null values emaina unte maarustham)
- 3. Define the Input and Output variables
- 4. Apply the model or algorithm.
- 5. Pass the Data to Training and Testing
- 6. Calculate The Score or accuracy score

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Linear Regression
- it is a linear model is a weighted predicted data  to target values
- y = mx+ c
- y is the target5 value or output value
- m is the slope
- c is a constant
- x is input
### Slope = (x - x mean) *(y - y mean) / (x - x mean )^ 2
### coefficient = c = y mean - (m * xmean)

In [34]:
# Getting the Data
df = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Machine-Learning-Using-Python-EB8/master/Day-2/reliance.csv')

In [35]:
#preprocessing the data
df.isnull().sum()

Revenue           0
JioSubscribers    0
dtype: int64

In [36]:
#preprocessing the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Revenue         10 non-null     int64
 1   JioSubscribers  10 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 288.0 bytes

In [37]:
#preprocessing the data
df.describe()

            Revenue  JioSubscribers
count     10.000000       10.000000
mean   13367.900000      284.510000
std     3784.302914       79.236235
min     8136.000000      160.100000
25%    10371.250000      224.550000
50%    13610.500000      293.400000
75%    16335.750000      349.225000
max    18632.000000      387.500000

In [48]:
#defining the input and output varialbles
x = df[['Revenue']]
y = df['JioSubscribers']

In [49]:
#applying the model or algorithm
from  sklearn.linear_model import LinearRegression

In [50]:
#applying the model or algorithm
model = LinearRegression()

In [53]:
#train the data
model.fit(x,y)

LinearRegression()

In [54]:
model.score(x,y)

0.9920788182785107

In [55]:
# another one

df = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Machine-Learning-Using-Python-EB8/master/Day-2/reliance.csv')

In [56]:
df.isnull().sum()

Revenue           0
JioSubscribers    0
dtype: int64

In [57]:
#preprocessing the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Revenue         10 non-null     int64
 1   JioSubscribers  10 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 288.0 bytes

In [58]:
#preprocessing the data
df.describe()

            Revenue  JioSubscribers
count     10.000000       10.000000
mean   13367.900000      284.510000
std     3784.302914       79.236235
min     8136.000000      160.100000
25%    10371.250000      224.550000
50%    13610.500000      293.400000
75%    16335.750000      349.225000
max    18632.000000      387.500000

In [59]:
#defining the input and output varialbles
x = df[['Revenue']]
y = df['JioSubscribers']

In [61]:
from  sklearn.datasets import load_boston

In [63]:
boston = load_boston()

In [65]:
df=pd.DataFrame(boston['data'])